.my-balloon {
  width: auto;
  max-width: 100%;
  background-color: #ccc;
  border: 2px solid #999;
  border-radius: 10px;
  padding: 10px; }

@media (min-width: 320px) and (max-width: 600px) {
  .my-balloon {
    left: 0 !important;
    top: 0 !important; } }
.hidden-checkbox {
  display: none; }

.special-offer-new,
.container {
  width: 997px;
  margin: 0 auto;
  font-family: "Roboto"; }

.special-offer-new p {
  line-height: 1em; }

.special__banner-block {
  margin-bottom: 15px; }

.special__banner-block img {
  width: 100%; }

.special-offer-buy-form {
  width: 100%;
  max-width: 380px;
  margin: 0 auto; }

.special-offer-buy-form input[type="text"],
.special-offer-buy-form select,
.special-offer-buy-form textarea,
.special-offer-buy-form button {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 7px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px; }

.special-offer-test-drive-form input[type="text"],
.special-offer-recall-form input[type="text"] {
  padding: 15px;
  font-size: 20px; }

.special-offer-buy-form textarea {
  height: 100px; }

.special-offer-buy-form button[type="button"] {
  border: none;
  outline: none;
  background-color: #0a2f81;
  color: white;
  padding: 15px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer; }
  .special-offer-buy-form button[type="button"]:hover {
    background: #017 !important; }

.special-offer-buy-form button[type="button"]:hover {
  color: #fff !important; }

.special-offer-buy-form h3 {
  margin: 0 auto 0; }

.special-offer-new .btn {
  display: inline-block;
  width: 13%;
  vertical-align: top;
  margin-right: 8px;
  height: 50px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ddd9c3;
  border: 3px solid #fd9946;
  color: white;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "RobotoBold"; }

.special-offer-new .btn:hover {
  border: 3px solid red; }

.special-offer-new .btn:last-child {
  margin-right: 0; }

.special-offer__label-pagination {
  margin-right: 8px; }

.special-offer__prices-block,
.special-offer__in-stock {
  height: 0;
  overflow: hidden;
  font-size: 0;
  transition: all .3s; }

#special-offer-prices:checked ~ .special-offer-new .special-offer__prices-block,
#special-offer-in-stock:checked ~ .special-offer-new .special-offer__in-stock {
  height: auto;
  font-size: 1em;
  overflow: visible;
  transition: all .3s; }

.explanation-block {
  font-size: 14px; }

.special-offer-buy-form__select-complectation option:not(:first-child) {
  display: none; }

.popwindow {
  font-family: "Roboto"; }

.box_window {
  width: 400px;
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  margin-left: -200px;
  z-index: 11;
  background: #fff;
  display: none;
  padding: 20px;
  border-radius: 5px; }

.box_window_in {
  position: relative;
  overflow-y: auto; }

.box_title {
  position: absolute;
  left: 0px;
  top: -30px;
  color: #fff; }

.bw_close {
  position: absolute;
  top: -25px;
  font-size: 10px;
  color: #fff;
  right: 0px;
  cursor: pointer;
  z-index: 2; }

.mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.38);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10; }

.to_blur.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

#wrapper {
  padding: 30px !important; }

table.price td {
  font-size: 15px !important; }

table.price tbody tr td:first-child {
  width: 35%; }

table.price tr:nth-child(3) {
  background-color: #b02e34;
  font-weight: bold;
  text-transform: uppercase; }

table.price tr:nth-child(3) td {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px; }

.trade-in-block-utilization {
  display: none; }

body {
  font-family: "RobotoRegular";
  background-color: #eee; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px; }

.main-image {
  max-width: 100%; }

.company-phone-img {
  float: right; }

.controls-block {
  background-color: #ddd9c3;
  margin-top: -4px;
  padding: 10px;
  padding-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "RobotoBold";
  text-align: center; }
  .controls-block .main-banner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    -webkit-transform: skew(-20deg, 0);
    -moz-transform: skew(-20deg, 0);
    -ms-transform: skew(-20deg, 0);
    -o-transform: skew(-20deg, 0);
    transform: skew(-20deg, 0);
    border: 3px solid #fd9946;
    padding: 18px;
    background-color: #a7a59c;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px; }
    .controls-block .main-banner span {
      display: block;
      -webkit-transform: skew(20deg, 0);
      -moz-transform: skew(20deg, 0);
      -ms-transform: skew(20deg, 0);
      -o-transform: skew(20deg, 0);
      transform: skew(20deg, 0); }
  .controls-block .button {
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #fd9946;
    margin-right: 4%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #a7a59c;
    color: #fff;
    width: 90px;
    height: 90px;
    font-size: 10px;
    cursor: pointer; }
    .controls-block .button span {
      font-size: 15px; }
    .controls-block .button:hover {
      border: 3px solid red; }
    .controls-block .button-1, .controls-block .button-4 {
      padding-top: 17px; }
    .controls-block .button-3, .controls-block .button-2 {
      padding-top: 20px; }

.special-offer__btn-block {
  text-align: center;
  margin-top: 20px; }
  .special-offer__btn-block .btn {
    background-color: #0a2f81;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "RobotoBold";
    font-size: 12px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 124px; }
    .special-offer__btn-block .btn:last-child {
      margin-right: 0; }
    .special-offer__btn-block .btn:hover {
      background: #017 !important; }

@media (min-width: 600px) {
  .container {
    max-width: 960px; } }
@media (min-width: 960px) {
  .container {
    max-width: 960px; }

  .controls-block {
    padding-top: 30px; }
    .controls-block .main-banner {
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: auto;
      height: 90px;
      font-size: 18px;
      line-height: 50px;
      margin-right: 15px; }
    .controls-block .button {
      margin-right: 10px;
      vertical-align: middle;
      margin-bottom: 30px; } }

/*# sourceMappingURL=che-style.css.map */
