$border: 3px solid rgb(253, 153, 70);
$border-hover: 3px solid red;

$breakpoint-0: 320px;
$breakpoint-1: 600px;
$breakpoint-2: 960px;
$desktop-width: 100%;

$font-regular: "RobotoRegular";
$font-light: "RobotoLight";
$font-medium: "RobotoMedium";
$font-bold: "RobotoBold";